*{
    box-sizing:border-box;
}



body {
    margin: 0;
    padding: 2px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image:url("background1.gif");
    background-repeat:repeat;
    background-attachment:fixed;
    background-size:auto;
    background-origin:content-box;



}

hr {
    border: 2px solid #368BC1;
}




h1 {
    font-family: 'roboto';
    font-size: 40px;
    padding: 30px;
}

.searchbox {
    margin: 20px;
    overflow: hidden;
    width: 450px;
    float: right;
}

    .searchbox #search {
        border: 1px solid #CCC;
        border-radius: 10px;
        color: #999;
        background-color: #E8E8E8;
        float: left;
        font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
        height: 42px;
        padding: 10px;
        width: 320px;
    }

    .searchbox #submit {
        background-color: #368BC1;
        border: 1px solid #00748f;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        height: 42px;
        float: right;
        font: 15px Arial, Helvetica;
        padding: 0;
        width: 100px;
        position: :relative;
        bottom:30px;

    }

nav {
    float: right;
    margin-right: 23px;
    margin-top: -40px;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 45px;
        padding-top: 26px;
    }

    nav a {
        color: #4E4E4E;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }

        nav a:hover {
            color: #368BC1;
        }

.active {
    color: #368BC1;
}

hr.new1 {
    height: 1px;
    background-color: #D8D8D8;
    border: none;
    width: 100%;
    margin-top: 60px;
}


@font-face {
    font-family: 'roboto';
    src: url(font/Roboto-Bold.ttf);
    font-style: normal;
    font-size: 40px;
}
h2{
    text-align:center;
    font-size:45px;

}
pre.pre1{

    text-align:center;
    color:black;
    font-size:15px;
}
h2.titulli1{
    text-align:center;
    font-size:45px;

}
pre.pre2{

    text-align:center;
    color:black;
    font-size:15px;
}
h2.titulli2{

    text-align:center;
    color:#000f1a;
    font-size:30px;
}
.menuja{
    width:200px;
    position:relative;
    left:550px;


}
.menuja a{
    background-color:#b3e0ff;
    color:black;
    display:block;
    padding:12px;
    text-decoration:none;
}
.menuja a:hover {
    background-color:#004d80;
}
.menuja a.active{
    background-color:#008ae6;
    color:black;

}
h2.titulli3{
font-size:35px;
text-align:center;

}
pre.pre3{
    text-align:center;
    font-size:15px;
}
.image
{
    position:relative;
    left:500px;
    

}
mark{
    background-color:gray;

}
#result
{
    color:black;
}
.klasavideo
{
    position:relative;
    left:450px;
}
.klasaaudio{
    position:relative;
    left:500px;

}
h2.titulli4{
    text-align:left;
    font-size:30px;
}


#text,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}


table {
    border: collapse;
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    border:1px solid black;
}

table tbody td {
    /* border: 1pt solid #95BEF0;   */
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.5em 0.75em;
}

fieldset {
    margin: 1em auto;
    background-color: #f2f2f2;
    width: 90%;

}

legend {
    background-color: lightblue;
    margin: 0 auto;
    width: 90%;
    padding: 0.25em;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    color: black;
}

form p {
    margin-top: 0.5em;
}

.box {
    border: 1pt solid #f35300;
    padding: 0.5em;
    margin-bottom: 0.4em;
    background-color: #d9d9d9;
}

.rectangle {
    background-color: #DEDEDE;
    padding: 0.5em;
}

.centered {
    text-align: center;
    text-align: center;
    /* background-color: #DEDEDE;*/
}

.rounded,
.rounded:hover {
    border: 1px solid #172d6e;
    border-bottom: 1px solid #0e1d45;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color:#3385ff ;
    padding: 0.5em 0 0.5em 0;
    margin: 0.3em;
    width: 7em;
    -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 4px 0 #b3b3b3;
    box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 4px 0 #b3b3b3;
    cursor: pointer;
}

.rounded:hover {
    background-color: #006700;
}


.rresht {
    display: flex;
}

/* Three shtylles side by side */
.shtylle {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the shtylles below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .shtylle {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.karta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.vazo {
    padding: 0 16px;
}

/* Clear floats */
.vazo::after,
.rresht::after {
    content: "";
    clear: both;
    display: table;
}


.butoni0 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.butoni0:hover {
    background-color: #555;
}

form.forma1{

    text-align:left;
    text-decoration: none;

}
form.forma2{

    text-align:left;
    text-decoration: none;
    
}
form.forma3{

    text-align:left;
    text-decoration: none;
    
}
form.forma4{

    text-align:left;
    text-decoration: none;
    
}
.kordinatat{

    text-align:left;
    font-size:30px;
}

.k1{
    width:60px;
    height:40px;
    font-size:20px;
    background-color:lightblue;
    color:black;
}


.load{position:absolute;top:200px;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
