body {
    margin: 0;
    padding: 2px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
   
}

hr {
    border: 2px solid #368BC1;
}

h1 {
    font-family: 'roboto';
    font-size: 40px;
    padding: 30px;
}

.searchbox {
    margin: 20px;
    overflow: hidden;
    width: 450px;
    float: right;
}

    .searchbox #search {
        border: 1px solid #CCC;
        border-radius: 10px;
        color: #999;
        background-color: #E8E8E8;
        float: left;
        font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
        height: 20px;
        padding: 10px;
        width: 320px;
    }

    .searchbox #submit {
        background-color: #368BC1;
        border: 1px solid #00748f;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        height: 42px;
        float: right;
        font: 15px Arial, Helvetica;
        padding: 0;
        width: 100px;
    }

nav {
    float: right;
    margin-right: 23px;
    margin-top: -40px;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 45px;
        padding-top: 26px;
    }

    nav a {
        color: #4E4E4E;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }

        nav a:hover {
            color: #368BC1;
        }

.active {
    color: #368BC1;
}

hr.new1 {
    height: 1px;
    background-color: #D8D8D8;
    border: none;
    width: 100%;
    margin-top: 60px;
}


@font-face {
    font-family: 'roboto';
    src: url(font/Roboto-Bold.ttf);
    font-style: normal;
    font-size: 40px;
}
#myH1{
    color:black;
    padding:20px;
    text-align:center;
}
p.p1{
    font-style:italic;
    text-align:center;
    padding:0px;
}
p.p2 {
    text-align: left;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;

}
p.p3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p4 {
    text-align: left;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p5 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p6 {
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p7 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p8 {
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p9 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p10 {
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p11 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p12 {
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p13 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p14 {
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p15 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p16{
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p17{
     text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;
}
p.p18{
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p19{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;

}
p.p20{
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p21{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;

}
p.p22{
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4E4E4E;
}
p.p23{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4E4E4E;

}
.column {
    margin:10px;
    padding:10px;
    float:left;
    width:30%;
    padding:10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;

}