hr {
    border: 2px solid #368BC1;
}

h1 {
    font-family: 'roboto';
    font-size: 40px;
    padding: 30px;
}

.searchbox {
    margin: 20px;
    overflow: hidden;
    width: 450px;
    float: right;
}

    .searchbox #search {
        border: 1px solid #CCC;
        border-radius: 10px;
        color: #999;
        background-color: #E8E8E8;
        float: left;
        font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
        height: 20px;
        padding: 10px;
        width: 320px;
    }

    .searchbox #submit {
        background-color: #368BC1;
        border: 1px solid #00748f;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        height: 42px;
        float: right;
        font: 15px Arial, Helvetica;
        padding: 0;
        width: 100px;
    }

nav {
    float: right;
    margin-right: 23px;
    margin-top: -40px;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 45px;
        padding-top: 26px;
    }

    nav a {
        color: #4E4E4E;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }

        nav a:hover {
            color: #368BC1;
        }

.active {
    color: #368BC1;
}

hr.new1 {
    height: 1px;
    background-color: #D8D8D8;
    border: none;
    width: 100%;
    margin-top: 60px;
}


@font-face {
    font-family: 'roboto';
    src: url(font/Roboto-Bold.ttf);
    font-style: normal;
    font-size: 40px;
}

p.titull2{
    position:absolute;
    left:350px;
    font-size:50px;
    top:200px;
    font-weight: bold;
    
}

p.titull1{
    position:absolute;
    left:370px;
    text-align:center;
    font-family:'roboto';
    font-size:24px;
    font-style: italic;
}
.kolon
{
	float:left;
	width:30%;
	padding:table;
	border: 5px solid white;
	
}
.rresht:after{
	content:"";
	clear:both;
	display:table;
	padding:10px;
}
.paragrafi1{
	position:relative;
	left:10px;
}
.paragrafi2{
	position:relative;
	left:10px;
}
.paragrafi3{
	position:relative;
	left:10px;
}
.paragrafi4{
	position:relative;
	left:10px;
}
.paragrafi5{
	position:relative;
	left:10px;
}
.paragrafi6{
	position:relative;
	left:10px;
}

	
    
canvas {

    border: 1px solid white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    
.svg:first-child {
    margin-left: 8%;
}

.can-vas {
    max-width: 100%;
}

@import "bourbon";

// elle
$size: 1;

// elleme
$width: 52px * $size;
$height: 60px * $size;

#interacthings { 
  @include position(absolute, 50% 0 0 50%);
  @include transform(translateX(-50%) translateY(-50%));
  @include size($width $height);
}
