h1{
font-family:"Riesling", Times, serif;
font-size:70px;
color: #262626;
padding:10px;
position:relative;
left:50px;
}
hr {
border: 2px solid #1a75ff;

}
hr.sh1{
  height: 1px;
  color: #D8D8D8;
  background-color: #D8D8D8;
  border: none;
 width:100%;
  
  }
  hr.sh1{
  position:relative;
  top:-60px;
  }
  .menuja a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menuja a.hover {
  background-color: #80aaff;
  color: blue;
}

.menuja a.active {
  background-color: #ffffff;
  color: blue;
}
* {
  box-sizing: border-box;

}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 70%;
  background: #f1f1f1;
  border-radius:14px;
}

form.example button {
  float: right;
  width: 25%;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  
}

form.example button:hover {
  background: #0b7dda;
  
}

form.example:after {
  content: "";
  clear: both;
  display: table;
  
}
form.example {
float:right;
color:#fd9802;
position: relative
border-radius: 14px;
}
.button {
border-radius: 12px;
}
div.searchbutoni
{
position:relative;
top:-150px;
right:20px;
}
div.menuja{
position:relative;
left:310px;
top:-70px;
}
div.tabelat{
position:relative;
left:250px;
top:-8px;
}
fieldset {
  display: block;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 8em;
  padding-bottom: 8em;
  padding-left: 1em;
  padding-right: 1em;
  border:none;
  background-color:#404040;
  }
.klasaslide{
position:relative;
width:100%;
height:300px;
 border-radius:0px;
 overflow:hidden;
        }
#slideshow {  

    position: relative; 

    width: 900px; 

    height: 450px; 
	

}

#slideshow > div { 

    position: absolute; 
}
div.klasaslide{
position:relative;
left:15px;
top:20px;
}
p.titulli{
  position: relative;
  left: 950px;
  border:none;
 top:-200px;
 font-size:30px;
 font-family:'Tempus Sans ITC';
}
#more {
display: none;
}
display: none;
}

pre{
 float: left;
  left: 800px;
  position: relative;
}
button.butoni
{
position:relative;
left:1050px;
border:none;
top:-220px;
}
button.butoni{
 
  width: 12%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
   border-radius:14px;
    cursor: pointer;
   
 
  }