body {
    margin: 0;
    padding: 2px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

hr {
    border: 2px solid #368BC1;
}

h1 {
    font-family: 'roboto';
    font-size: 40px;
    padding: 30px;
}

.searchbox {
    margin: 20px;
    overflow: hidden;
    width: 450px;
    float: right;
}

    .searchbox #search {
        border: 1px solid #CCC;
        border-radius: 10px;
        color: #999;
        background-color: #E8E8E8;
        float: left;
        font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
        height: 20px;
        padding: 10px;
        width: 320px;
    }

    .searchbox #submit {
        background-color: #368BC1;
        border: 1px solid #00748f;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        height: 42px;
        float: right;
        font: 15px Arial, Helvetica;
        padding: 0;
        width: 100px;
    }

nav {
    float: right;
    margin-right: 23px;
    margin-top: -40px;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 45px;
        padding-top: 26px;
    }

    nav a {
        color: #4E4E4E;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }

        nav a:hover {
            color: #368BC1;
        }

.active {
    color: #368BC1;
}

hr.new1 {
    height: 1px;
    background-color: #D8D8D8;
    border: none;
    width: 100%;
    margin-top: 60px;
}


@font-face {
    font-family: 'roboto';
    src: url(font/Roboto-Bold.ttf);
    font-style: normal;
    font-size: 40px;
}
div.tabelat{
position:relative;
left:250px;
top:-8px;
}
.klasaslide{
position:relative;
width:100%;
height:300px;
 border-radius:0px;
 overflow:hidden;
        }
#slideshow {  

    position: relative; 

    width: 900px; 

    height: 450px; 
	

}

#slideshow > div { 

    position: absolute; 
}
div.klasaslide{
position:relative;
left:15px;
top:20px;
}
p.titulli{
  position: relative;
  left: 950px;
  border:none;
 top:-250px;
 font-size:30px;
 font-family:'Tempus Sans ITC';
}
#more {
display: none;
}
pre{
font-family: monospace;
  white-space: pre;
    margin-top: -270px;
  margin-bottom: 100px;
  margin-right: 160px;
  margin-left: 960px;

}
button.butoni
{
position:relative;
left:970px;
border:none;
top:-80px;
}
button.butoni{
 
  width: 10%;
  padding: 10px;
  background: #368BC1;
  color: white;
  font-size: 13px;
  border: 1px solid grey;
  border-left: none;
   border-radius:14px;
    cursor: pointer;
   
 
  }
    p.titulli_posht
  {
  font-size:50px;
  font-family:'Times New Roman';
  color:#262626;
  position:relative;
  border:none;
  top:-40px;
  left:50px;

  }
 p.quote{
 font-size:20px;
 font-family:'Magiera Script';
position:relative;
left:20px;
top:-90px;
color:#737373;
}
div.tabelat{
position:relative;
left:250px;
top:-70px;
}

form.forma3 button {
  font-family:"Times New Roman";
  float: right;
  width: 25%;
  padding: 1px;
  background:#368BC1;
  font-size: 16px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius:16px;
 }

form.forma3 butoni3:hover {
  background: #0b7dda;
  
}
div.divi3
{
  position:relative;
  top:-50px;
  left:-500px;
}
button.butoni3 a{
  position:relative;
  right:15px;
    color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
}
.footer1{
  margin: 40px 5px 30px 5px;
  background: #202020;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  padding: 55px 50px;
}
.footer1 .footer-left,
.footer1 .footer-center,
.footer1 .footer-right{
  display: inline-block;
  vertical-align: top;
}
.footer1 .footer-left{
  width: 40%;
}
.footer1 h3{
  color:  #ffffff;
  font-size:20px;
  font-family:sans-serif;
  margin: 0;
}
.footer1 .footer-address{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer1 .footer-left p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
.footer1 .footer-left p span{
  display:block;
}
.footer1 .footer-center{
  width: 35%;
}
.footer1. footer-center a {
  color:red;
}


.footer1 .footer-right{
  width: 20%;
  color:#C0C0C0;
}

.footer1 .footer-icons{
  margin-top: 25px;
}

.footer1 .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
@media (max-width: 880px) {

  .footer1{
    font: bold 14px sans-serif;
  }
  .footer1 .footer-left,
  .footer1 .footer-center,
  .footer1 .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

.copyright h4{
	position:relative;
	top:1pxpx;
	left:-920px;
	font-family:"Arial";
	font-size:15px;
	color:#a6a6a6;
}
.divi3 a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}