h1{
font-family:"Riesling", Times, serif;
font-size:70px;
color: #262626;
padding:10px;
position:relative;
left:50px;
}
hr {
border: 2px solid #1a75ff;

}
hr.sh1{
  height: 1px;
  color: #D8D8D8;
  background-color: #D8D8D8;
  border: none;
 width:100%;
  
  }
  hr.sh1{
  position:relative;
  top:-60px;
  }
  .menuja a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}
body {
  
  font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
overflow-x: hidden;
}


.menuja a.hover {
  background-color: #80aaff;
  color: blue;
}

.menuja a.active {
  background-color: #ffffff;
  color: blue;
}
* {
  box-sizing: border-box;

}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 70%;
  background: #f1f1f1;
  border-radius:14px;
}

form.example button {
  float: right;
  width: 25%;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  
}

form.example button:hover {
  background: #0b7dda;
  
}

form.example:after {
  content: "";
  clear: both;
  display: table;
  
}
form.example {
float:right;
color:#fd9802;
position: relative
border-radius: 14px;
}
.button {
border-radius: 12px;
}
div.searchbutoni
{
position:relative;
top:-150px;
right:20px;
}
div.menuja{
position:relative;
left:310px;
top:-70px;
}
div.tabelat{
position:relative;
left:250px;
top:-8px;
}
.klasaslide{
position:relative;
width:100%;
height:300px;
 border-radius:0px;
 overflow:hidden;
        }
#slideshow {  

    position: relative; 

    width: 900px; 

    height: 450px; 
	

}

#slideshow > div { 

    position: absolute; 
}
div.klasaslide{
position:relative;
left:15px;
top:20px;
}
p.titulli{
  position: relative;
  left: 950px;
  border:none;
 top:-200px;
 font-size:30px;
 font-family:'Tempus Sans ITC';
}
#more {
display: none;
}
pre{
font-family: monospace;
  white-space: pre;
    margin-top: -200px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 1000px;

}
button.butoni
{
position:relative;
left:1050px;
border:none;
top:-80px;
}
button.butoni{
 
  width: 12%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
   border-radius:14px;
    cursor: pointer;
   
 
  }
    p.titulli_posht
  {
  font-size:50px;
  font-family:'Times New Roman';
  color:#262626;
  position:relative;
  border:none;
  top:-100px;
  left:50px;

  }
 p.quote{
 font-size:20px;
 font-family:'Magiera Script';
position:relative;
left:20px;
top:-130px;
color:#737373;
}
div.tabelat{
position:relative;
left:250px;
top:-70px;
}

fieldset {
  display: block;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 60em;
  padding-right: 1em;
  border:0.5px solid black;
  background-color:#404040;
  }
  
  form.forma2 input[type=text]{ 
  padding: 10px;
  font-size: 15px;
  float: right;
  width: 75%;
  background-color: #404040;
  border-radius:16px;
  border: 0.5px solid black;
  color:#e6e6e6;
  font-family:"Times New Roman";
  
}
form.forma2 button {
  float: right;
  width: 25%;
  padding: 6px;
  background: #404040;
  color: #2196F3;
  font-size: 20px;
  border-left: none;
  cursor: pointer;
  border-radius:16px;
  border: 1px solid black;
  font-family:"Times New Roman";
}

form.forma2 butoni2:hover {
  background: #404040;
}
div.submiti
{
	position:relative;
	left:1px;
}
form.forma3 button {
  font-family:"Times New Roman";
  float: right;
  width: 25%;
  padding: 1px;
  background: #2196F3;
  font-size: 16px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius:16px;
 }

form.forma3 butoni3:hover {
  background: #0b7dda;
  
}
div.divi3
{
  position:relative;
  top:-50px;
  left:-500px;
}
button.butoni3 a{
  position:relative;
  right:15px;
    color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
}
h2,p
{
	position:relative;
	left:-900px;
	top:-20px;
	
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 70px 5px 20px 10px;
  position:relative;
  left:80px;
  top:-40px;
  border:0.01px solid white;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
 background: linear-gradient(to bottom right, #660066 0%, #ff3300 100%);
  color: white;
}
.fa-facebook {
  background:linear-gradient(to bottom right, #ffffff -131%, #0039e6 160%);
  color: white;
}
.fa-twitter {
  background:#3366ff;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.copyright{
  display: block;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 60em;
  padding-right: 1em;
 
  border:0.5px solid grey;
  background-color:#262626;
}
.copyright h4{
	position:relative;
	top:1pxpx;
	left:-920px;
	font-family:"Arial";
	font-size:15px;
	color:#a6a6a6;
}
.divi3 a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}